@import url(https://fonts.googleapis.com/css?family=Quicksand);
html {
  height: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  color: black;
  height: 100%;
  margin: 0;
  background-color: rgb(230, 230, 230);
  /*
  background: rgb(211, 211, 211);
  background: #adc4be;
  background: -webkit-linear-gradient(#adc4be, #889cac);
  background:    -moz-linear-gradient(#adc4be, #889cac);
  background:         linear-gradient(#adc4be, #889cac);
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.navbar,
.card {
  background-color: rgba(255, 255, 255, 0.2)
}

.navbar {
  background-color: #006e7f;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  font-weight: 600;
}

.nav-link,
.navbar-brand {
  color: white !important;
}

.container.register {
  width: 70%;
  margin: auto;
}

.card {
  background-color: white;
  -moz-box-shadow: 10px 10px 5px #222;
  -webkit-box-shadow: 10px 10px 5px #222;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
}

.new-complaint-wrapper,
.register {
  background-color: white;
  width: 80%;
  color: black;
  -moz-box-shadow: 10px 10px 5px #222;
  -webkit-box-shadow: 10px 10px 5px #222;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.new-complaint-form,
.register-form {
  width: 80%;
  margin: 50px auto;
}

.login {
  background-color: white;
  width: 60%;
  color: black;
  -moz-box-shadow: 10px 10px 5px #222;
  -webkit-box-shadow: 10px 10px 5px #222;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.register__form-submit, .login__form-submit {
  text-align: right;
  margin: 15px;
}

.login form {
  margin: 20px auto;
  width: 70%;
}

.login-footer {
  margin-top: 20px;
  font-size: 14px;
}

.home {
  width: 100%;
  /* position: absolute; */
  /* z-index: -10; */
  height: 100%;
  background-image: url("./imgs/bg.jpg");
  background-size: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -30px;
  color: white;
}

.home__wrapper {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}

.jumbotron {
  padding-top: 15%;
  font-size: 2rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 0;
}

.jumbotron h1 {
  font-weight: 800;
  font-size: 4rem;
}

.home__steps-img {
  width:  50%;
  margin: 20px 25%;
}

.home__cta-container {
  margin: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.home__cta {
  margin: 10px auto;
  display: flex;
  align-content: center;  
  justify-content: center;
  flex-direction: column;
  height: 230px;
  width: 230px;
  background-color: rgba(4, 55, 63, 0.3);
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  color: white;
  border: 10px solid white;
  transition: 200ms;  
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);

}

.home__cta-wrapper {
  cursor: pointer;
}

.home__cta-wrapper h3 {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin-top: 25px; 
  transition: 200ms;
}

.home__cta-wrapper:hover h3 {
  color: #005b69;
  transition: 200ms;
}

.home__cta:hover {
  background-color: #005b69;
  transition: 50ms;
  border: 5px solid white;
}

.home__steps-head {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
}

.footer {
  background: #222;
  color: white;
  text-align: center;
}

.nav-link i {
  margin: 5px;
}

.profile__head {
  text-align: center;
}

.profile {
  width: 100%;
  margin: 50px auto;
}

.profile__avatar {
  height: 250px;
  width: 250px;
}

.profile__dl dt, .profile__dl dd{
  border-bottom: 1px solid grey;
  height: 40px;
}

.profile__complaints-head {
  margin: 10px 10px 40px 10px;
  text-align: center;
}

.complaint__svg {
  height: 250px;
  width: 250px;
  margin: 20px auto;
}

.complaint {
  text-align: center;
  min-height: 80vh;
  width: 90%;
  background-color: white;
  margin: auto;
  padding: 20px;  
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
  font-size: 18px;
}

.complaint-view__dl dt, .complaint-view__dl dd{
  text-align: left; 
}

.complaint__upvote {
  margin: 20px;
  border: none;
  color: #006e7f;
  font-size: 26px;
  font-weight: 900;
  cursor: pointer;
  background: none;
  

}

.complaint__upvote i {
  margin: 5px;
  transition: 300ms;
}

.complaint__upvote:hover i {
  color: #03a4bd;
  transition: 300ms;
}

.complaint__upvote-count {
  margin: 10px;
}

.card-subtitle {
  text-transform: capitalize;
}